.dashboard-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    text-align: center;
}

.back-button {
    position: absolute;
    top: 8%;
    left: 5%;
}

.sign-out-button {
    margin-top: 30px;
}